<<<<<<< HEAD

a:hover{
	text-decoration: none;
}
.sidebar-a{
	padding-top: 5px;
	padding-bottom: 5px;
	background: #B4B4B4;
}

.sidebar-a a{
	color: white;
	font-size: 13px;
	margin-right: 27px;

}
.sidebar-a a:hover{
	color: #DDDDDD;
}
a.selected{
	color: #ffc790;
}
header h1{
	text-indent: -99999px;
}
header h1 a{
	margin-left: 40px;
	margin-top: -30px;
	margin-bottom: 40px;
	display: block;
	height: 55px;
	background: url(http://wwcdn.weddingwire.com/static/8.2.37/css/../images/logo/weddingwire-logo.svg) no-repeat;
}
.sidebar-b{
	border-top:1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.sidebar-b ul{
	padding-top: 10px;
}
.sidebar-b ul li{
	padding-right: 50px;
}
.sidebar-b a{
	color: #333333;
	font-size: 16px;
}
#content{
	margin-top: 40px;
}
.submit{
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	background: #19B5BC;
	color: white;

}
.header-sign-up{
	font-size: 40px;
	margin-bottom: 50px;
}
.form-login a{
	margin-left: 80px;
}
.form-login p a:hover{
	color: #ffc790;
}
#content .login{
	border-right: 1px solid #DDDDDD;
	margin-top: 95px;
}
#content .login p{
	padding-left: 10px;
	margin-top: 20px;
	font-size: 16px;
}
.header-2-sign-up{
	font-size: 24px;
}
#content .login h3{
		font-size: 20px;
		padding: 20px 15px 20px 15px;
	font-size: 20px;
	background: #F2F0EE;
}
#content .login_facebook{
	padding-right: 10px;
	padding-bottom: 10px;
	background: #F2F0EE;
}
.fb-send{
	padding-left: 20px;
}
#content .welcome{
	margin-top: 95px;
}
.welcome strong{
	font-size: 17px;
}
.welcome ul{
	margin-top: 10px;
}
.welcome li{
	margin-left: -35px;
	list-style: none;
	font-size: 14px;
	padding-bottom: 15px;
}
.register{
	margin-top: 40px;
}
.register ul{
	margin-top: 20px;
}
.register li{
	font-size:16px;
	padding-bottom: 10px;
	list-style: none;
}
#form-register{
	padding: 40px 20px 60px 30px;
	background: #F2F0EE;
}
#form-register input{
	margin-bottom: 20px;
}
#form-register p{
	margin-left: 180px;
	clear: both;
}
.label-lg{
	padding-top: 10px;
	font-size: 20px;
}
.last-name{
	width: 290px;
	margin-left: -20px;
}
.errors{
	font-weight: bold;
	color: #e74c3c;
=======
.class-ul{
	font-size: 13px;
	font-family: 'Open Sans',Arial,sans-serif;
	text-align: center;
	max-height: 30px;
	
}
.color{
	background-color: #b4b4b4;
	max-height: 30px;
	min-height:  30px;
	border: 0px;
	clear: both;
	margin-bottom: 10px;
}
.class-text{
	margin: 80px 0px 0px;
}
.active{
	background-color: #b4b4b4;
}

.navbar-header{
	float: right;
}
.auto{
	margin: auto auto;
	float: right;
}
.auto li a{
	padding-top: 3px;
	padding-bottom: 0px;
}
.logo{	
	
	margin: 50px;
	width: 500px;
	height: 70px;
	background-size: 500px 70px;
	background: url("http://wwcdn.weddingwire.com/static/8.2.37/images/logo/weddingwire-logo.svg") 0 0 no-repeat;
}
 /*menu*/
#menu{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	line-height: 30px;
	margin: 0 auto;
}
#menu li{
	text-align: left;
	display: inline-block;
	vertical-align: top;
	position: relative;	
}
.class-hover>li>a:hover{
	display: block;
	position: relative;
}
/*css footer*/
#top-footer{
	width: 100%;
	background: #f2f0ee;
	padding: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer{
	color: #999;
	margin: 0 auto;
	width: 1170px;
	padding-bottom: 40px;
	font-size: 13px;
	line-height: 1.6em;
	background: #f2f0ee;
}
#footer dl{
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
#footer dl dt{
	font-weight: bold;
	text-transform: uppercase;
	display: inline;
	text-align: left;
}
#footer dl dd{
	color: #999;
	margin-left: 0;
	display: inline;
	}
#footer dl dd ul{
	display: inline;
}
#footer>ul{
	margin: 0;
	padding: 0;
}
#footer li{
	display: inline;
	margin-left: 0px;
	float: left;
}
.dot:after{
	content: "\00a0\2022";
	margin-left: 3px;
	margin-right: 3px;
}
.class-dt>dt{
	float: left;
	overflow: hidden;
	clear: left;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.footer-ul{
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}
#footer dl div {
height: 1px;
}
#copyright{
	text-align: left;
	color: #999;
	margin: 0 auto;
	width: 1170px;
	padding-bottom: 40px;
	font-size: 13px;
	line-height: 1.6em;
	background: #f2f0ee;
}
/*detail-vendor*/
#vendor{
	width: 1000px;
	margin: 0 auto;
	
}
#image-vendor{
	float: left;
	width: 30%;
	margin: 0 auto;
}
#detail-vendor{
	float: right;
	width: 65%;
	margin-left: 20px;
	margin-bottom: 20px;
}
#detail-vendor h3{
	margin: 1px;
}
.img-vendor{
	width: 200px;
	height: 200px;
	margin-bottom: 10px;
}
.contact-me{
	background-color: #F7F7F7;
	margin: 2px;
	padding: 5px;
	border: 1px solid #F7F7F7;
}
.tab-menu{
	border-top: 1px solid gray;
	margin-bottom: 50px;
}
#vendor-menu{
	background-color: #f7dde7 ;
	border-radius: 8px;
}
#vendor-menu a{
	color: #e38aae;
}
.boder-style{
	border-left: 2px dashed white;
}
.caption{
	width: 100px;
	height: 100px;
}
.action{
	background-color: #F7F7F7;
	margin: 2px;
	border: 1px solid #F7F7F7;
}
.form{
	background-color: #f2f0ee;
	margin: 10px auto;
	padding: 10px;
}
.yellow{
	color: yellow;
}
.pink{
	color: #f48277;
}
#danhgia{
	min-height: 200px;
	border: 1px solid black;
	margin: 5px;
}
#Giaithuong{
	min-height: 400px;
	border: 1px solid black;
	margin: 5px;
}
.vendor-img{
	width: 100px;
	height: 100px;
	margin: 20px;
	float: left;
>>>>>>> origin/master
}
#aboutme{
	background-color: white;
}
 /*tạo menu hover*/
 .magrin-menu{
 	padding-left: 50px;
 }
 .dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    /*margin-top: -1px;*/
} 
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
    display: none;
}
 
.dropdown:hover .dropdown-menu {
    display: block;
}
 
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}
 
.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
.dropdown-menu{
  margin-top:-2px !important;
}

a:hover{
	text-decoration: none;
}
.sidebar-a{
	padding-top: 5px;
	padding-bottom: 5px;
	background: #B4B4B4;
}

.sidebar-a a{
	color: white;
	font-size: 13px;
	margin-right: 27px;

}
.sidebar-a a:hover{
	color: #DDDDDD;
}
a.selected{
	color: #ffc790;
}
header h1{
	text-indent: -99999px;
}
header h1 a{
	margin-left: 40px;
	margin-top: -30px;
	margin-bottom: 40px;
	display: block;
	height: 55px;
	background: url(http://wwcdn.weddingwire.com/static/8.2.37/css/../images/logo/weddingwire-logo.svg) no-repeat;
}
.sidebar-b{
	border-top:1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.sidebar-b ul{
	padding-top: 10px;
}
.sidebar-b ul li{
	padding-right: 50px;
}
.sidebar-b a{
	color: #333333;
	font-size: 16px;
}
#content{
	margin-top: 40px;
}
.submit{
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	background: #19B5BC;
	color: white;

}
.header-sign-up{
	font-size: 40px;
	margin-bottom: 50px;
}
.form-login a{
	margin-left: 80px;
}
.form-login p a:hover{
	color: #ffc790;
}
#content .login{
	border-right: 1px solid #DDDDDD;
	margin-top: 95px;
}
#content .login p{
	padding-left: 10px;
	margin-top: 20px;
	font-size: 16px;
}
.header-2-sign-up{
	font-size: 24px;
}
#content .login h3{
		font-size: 20px;
		padding: 20px 15px 20px 15px;
	font-size: 20px;
	background: #F2F0EE;
}
#content .login_facebook{
	padding-right: 10px;
	padding-bottom: 10px;
	background: #F2F0EE;
}
.fb-send{
	padding-left: 20px;
}
#content .welcome{
	margin-top: 95px;
}
.welcome strong{
	font-size: 17px;
}
.welcome ul{
	margin-top: 10px;
}
.welcome li{
	margin-left: -35px;
	list-style: none;
	font-size: 14px;
	padding-bottom: 15px;
}
.register{
	margin-top: 40px;
}
.register ul{
	margin-top: 20px;
}
.register li{
	font-size:16px;
	padding-bottom: 10px;
	list-style: none;
}
#form-register{
	padding: 40px 20px 60px 30px;
	background: #F2F0EE;
}
#form-register input{
	margin-bottom: 20px;
}
#form-register p{
	margin-left: 180px;
	clear: both;
}
.label-lg{
	padding-top: 10px;
	font-size: 20px;
}
.last-name{
	width: 290px;
	margin-left: -20px;
}
.errors{
	font-weight: bold;
	color: #e74c3c;
=======
.class-ul{
	font-size: 13px;
	font-family: 'Open Sans',Arial,sans-serif;
	text-align: center;
	max-height: 30px;
	
}
.color{
	background-color: #b4b4b4;
	max-height: 30px;
	min-height:  30px;
	border: 0px;
	clear: both;
	margin-bottom: 10px;
}
.class-text{
	margin: 80px 0px 0px;
}
.active{
	background-color: #b4b4b4;
}

.navbar-header{
	float: right;
}
.auto{
	margin: auto auto;
	float: right;
}
.auto li a{
	padding-top: 3px;
	padding-bottom: 0px;
}
.logo{	
	
	margin: 50px;
	width: 500px;
	height: 70px;
	background-size: 500px 70px;
	background: url("http://wwcdn.weddingwire.com/static/8.2.37/images/logo/weddingwire-logo.svg") 0 0 no-repeat;
}
 /*menu*/
#menu{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	line-height: 30px;
	margin: 0 auto;
}
#menu li{
	text-align: left;
	display: inline-block;
	vertical-align: top;
	position: relative;	
}
.class-hover>li>a:hover{
	display: block;
	position: relative;
}
/*css footer*/
#top-footer{
	width: 100%;
	background: #f2f0ee;
	padding: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer{
	color: #999;
	margin: 0 auto;
	width: 1170px;
	padding-bottom: 40px;
	font-size: 13px;
	line-height: 1.6em;
	background: #f2f0ee;
}
#footer dl{
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
#footer dl dt{
	font-weight: bold;
	text-transform: uppercase;
	display: inline;
	text-align: left;
}
#footer dl dd{
	color: #999;
	margin-left: 0;
	display: inline;
	}
#footer dl dd ul{
	display: inline;
}
#footer>ul{
	margin: 0;
	padding: 0;
}
#footer li{
	display: inline;
	margin-left: 0px;
	float: left;
}
.dot:after{
	content: "\00a0\2022";
	margin-left: 3px;
	margin-right: 3px;
}
.class-dt>dt{
	float: left;
	overflow: hidden;
	clear: left;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.footer-ul{
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}
#footer dl div {
height: 1px;
}
#copyright{
	text-align: left;
	color: #999;
	margin: 0 auto;
	width: 1170px;
	padding-bottom: 40px;
	font-size: 13px;
	line-height: 1.6em;
	background: #f2f0ee;
}
/*detail-vendor*/
#vendor{
	width: 1000px;
	margin: 0 auto;
	
}
#image-vendor{
	float: left;
	width: 30%;
	margin: 0 auto;
}
#detail-vendor{
	float: right;
	width: 65%;
	margin-left: 20px;
	margin-bottom: 20px;
}
#detail-vendor h3{
	margin: 1px;
}
.img-vendor{
	width: 200px;
	height: 200px;
	margin-bottom: 10px;
}
.contact-me{
	background-color: #F7F7F7;
	margin: 2px;
	padding: 5px;
	border: 1px solid #F7F7F7;
}
.tab-menu{
	border-top: 1px solid gray;
	margin-bottom: 50px;
}
#vendor-menu{
	background-color: #f7dde7 ;
	border-radius: 8px;
}
#vendor-menu a{
	color: #e38aae;
}
.boder-style{
	border-left: 2px dashed white;
}
.caption{
	width: 100px;
	height: 100px;
}
.action{
	background-color: #F7F7F7;
	margin: 2px;
	border: 1px solid #F7F7F7;
}
.form{
	background-color: #f2f0ee;
	margin: 10px auto;
	padding: 10px;
}
.yellow{
	color: yellow;
}
.pink{
	color: #f48277;
}
#danhgia{
	min-height: 200px;
	border: 1px solid black;
	margin: 5px;
}
#Giaithuong{
	min-height: 400px;
	border: 1px solid black;
	margin: 5px;
}
.vendor-img{
	width: 100px;
	height: 100px;
	margin: 20px;
	float: left;
>>>>>>> origin/master
}
#aboutme{
	background-color: white;
}
 /*tạo menu hover*/
 .magrin-menu{
 	padding-left: 50px;
 }
 .dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    /*margin-top: -1px;*/
} 
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
    display: none;
}
 
.dropdown:hover .dropdown-menu {
    display: block;
}
 
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}
 
.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
.dropdown-menu{
  margin-top:-2px !important;
}
