.class-ul{
	font-size: 13px;
	font-family: 'Open Sans',Arial,sans-serif;
	text-align: center;
	max-height: 30px;
	
}
.color{
	background-color: #b4b4b4;
	max-height: 30px;
	min-height:  30px;
	border: 0px;
	clear: both;
	margin-bottom: 10px;
}
.class-text{
	margin: 80px 0px 0px;
}
.active{
	background-color: #b4b4b4;
}

.navbar-header{
	float: right;
}
.auto{
	margin: auto auto;
	float: right;
}
.auto li a{
	padding-top: 3px;
	padding-bottom: 0px;
}
.logo{	
	
	margin: 50px;
	width: 500px;
	height: 70px;
	background-size: 500px 70px;
	background: url("http://wwcdn.weddingwire.com/static/8.2.37/images/logo/weddingwire-logo.svg") 0 0 no-repeat;
}
#menu{
	height: 40px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	line-height: 30px;
	margin: 0 auto;
}
#menu li{
	text-align: left;
	padding: 5px 10px;
	margin: 0 19px;
	display: inline-block;
	vertical-align: top;
	position: relative;	
}
.class-hover>li>a:hover{
	display: block;
	position: relative;
}
/*css footer*/
#top-footer{
	width: 100%;
	background: #f2f0ee;
	padding: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer{
	color: #999;
	margin: 0 auto;
	width: 1170px;
	padding-bottom: 40px;
	font-size: 13px;
	line-height: 1.6em;
	background: #f2f0ee;
}
#footer dl{
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
#footer dl dt{
	font-weight: bold;
	text-transform: uppercase;
	display: inline;
	text-align: left;
}
#footer dl dd{
	color: #999;
	margin-left: 0;
	display: inline;
	}
#footer dl dd ul{
	display: inline;
}
#footer>ul{
	margin: 0;
	padding: 0;
}
#footer li{
	display: inline;
	margin-left: 0px;
	float: left;
}
.dot:after{
	content: "\00a0\2022";
	margin-left: 3px;
	margin-right: 3px;
}
.class-dt>dt{
	float: left;
	overflow: hidden;
	clear: left;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.footer-ul{
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}
#footer dl div {
height: 1px;
}
#copyright{
	text-align: left;
	color: #999;
	margin: 0 auto;
	width: 1170px;
	padding-bottom: 40px;
	font-size: 13px;
	line-height: 1.6em;
	background: #f2f0ee;
}
/*detail-vendor*/
#vendor{
	width: 1000px;
	margin: 0 auto;
}
#image-vendor{
	float: left;
	width: 30%;
}
#detail-vendor{
	float: right;
	width: 70%;
}
